<div class="container table-container">
    <h1>Cobrancas</h1>
    <button (click)="onAddCobranca()" class="btn btn-dark">Cadastrar</button>
    
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th>Descrição</th>
          <th>Valor</th>
          <th>Vencimento</th>
          <th></th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cobranca of linhas">
          <td>{{cobranca.descricao}}</td>
          <td>R$ {{cobranca.valor.toFixed(2)}}</td>
          <td>{{formatDate(cobranca.dataVencimento)}}</td>          
          <td>
            <button (click)="onEditCobranca(cobranca)" class="btn btn-primary bi bi-pencil-square"></button>
            <button (click)="deleteCobranca(cobranca.id)" class="btn btn-danger bi bi-trash3-fill"></button>
          </td>
        </tr>
      </tbody>
    </table>    
    <div class="modal" *ngIf="state === 'adding' || state === 'editing'">
      <div class="modal-content">
        
        <h2 *ngIf="state === 'adding'">Adicionar Cobranca</h2>
        <h2 *ngIf="state === 'editing'">Editar Cobranca</h2>
        <form (ngSubmit)="addOrUpdateCobranca()">        
          <div>
            <label class="form-label" for="valor" >Valor:</label>
            <input class="form-control" id="valor" type="number" [(ngModel)]="newCobranca.valor" name="valor" required>
          </div>
          <div>
            <label class="form-label" for="dataVencimento">Data Vencimento:</label>
            <input class="form-control" id="dataVencimento" type="date" [(ngModel)]="newCobranca.dataVencimento" name="dataVencimento" required>
          </div>
          <div>
            <label class="form-label" for="descricao">Descrição:</label>
            <input class="form-control" id="descricao" [(ngModel)]="newCobranca.descricao" name="descricao">
          </div>
          <button class="btn btn-success" type="submit"><i class="bi bi-check"></i></button>          
          <button class="btn btn-danger " (click)="closeModal()">&times;</button>
        </form>
      </div>
    </div>    
  </div>