<div class="container table-container">
    <h1>Cobrancas</h1>
    <button class="btn btn-primary">Cadastrar</button>
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th>Descrição</th>
          <th>Valor</th>
          <th>Vencimento</th>
          <th></th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cobranca of vm.linhas">
          <td>{{cobranca.descricao}}</td>
          <td>R$ {{cobranca.valor.toFixed(2)}}</td>
          <td>{{formatDate(cobranca.dataVencimento)}}</td>          
          <td>
            <button (click)="onEditCobranca(cobranca)" class="btn btn-primary">Editar</button>
            <button class="btn btn-primary">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>    
    <div class="modal" *ngIf="state === 'adding' || state === 'editing'">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2 *ngIf="state === 'adding'">Adicionar Cobranca</h2>
        <h2 *ngIf="state === 'editing'">Editar Cobranca</h2>
        <form (ngSubmit)="addOrUpdateCobranca()">        
          <div>
            <label for="valor">Valor:</label>
            <input id="valor" type="number" [(ngModel)]="newCobranca.valor" name="valor" required>
          </div>
          <div>
            <label for="dataVencimento">Data Vencimento:</label>
            <input id="dataVencimento" type="date" [(ngModel)]="newCobranca.dataVencimento" name="dataVencimento" required>
          </div>
          <div>
            <label for="descricao">Descrição:</label>
            <input id="descricao" [(ngModel)]="newCobranca.descricao" name="descricao">
          </div>
          <button class="btn btn-primary" type="submit">Registrar Cobranca</button>
        </form>
      </div>
    </div>
    <!-- <h2>Adicionar Cobranca</h2>           -->
    <!-- <form (ngSubmit)="addCobranca()">
      <div>
        <label for="clienteId">Cliente ID:</label>
        <input id="clienteId" [(ngModel)]="newCobranca.clienteId" name="clienteId" required>
      </div>
      <div>
        <label for="valor">Valor:</label>
        <input id="valor" type="number" [(ngModel)]="newCobranca.valor" name="valor" required>
      </div>
      <div>
        <label for="dataVencimento">Data Vencimento:</label>
        <input id="dataVencimento" type="date" [(ngModel)]="newCobranca.dataVencimento" name="dataVencimento" required>
      </div>
      <div>
        <label for="descricao">Descrição:</label>
        <input id="descricao" [(ngModel)]="newCobranca.descricao" name="descricao">
      </div>
      <button type="submit">Cadastrar Cobrança</button>
    </form>         -->
  </div>