<div class="container">
  <h1>Clientes</h1>  
  <button class="btn btn-dark" (click)="isAddingCliente = !isAddingCliente">Cadastrar</button>
  <!-- Cliente Modal Form -->
  <div class="modal" *ngIf="isAddingCliente">
    <div class="modal-content">
      <span class="close" (click)="isAddingCliente = !isAddingCliente">&times;</span>
      <h2>Registrar Novo Cliente</h2>
      <form [formGroup]="clienteForm" (ngSubmit)="addOrUpdateCliente()">        
        <div>
          <label for="nome" class="form-label">Nome:</label>
          <input class="form-control" id="nome" type="text" formControlName="nome" name="nome" required>
        </div>
        <div>
          <label for="documento" class="form-label">Documento:</label>
          <input class="form-control" id="documento" type="string" formControlName="documento" name="documento" required>
        </div>
        <div>
          <label for="endereco" class="form-label">Endereco:</label>
          <input class="form-control" id="endereco" formControlName="endereco" name="endereco">
        </div>
        <div>
          <label for="telefone" class="form-label">Telefone:</label>
          <input class="form-control" id="telefone" formControlName="telefone" name="telefone">
        </div>
        <button class="btn btn-primary" type="submit">Registrar Cliente</button>
        <button class="btn btn-danger" (click)="isAddingCliente = !isAddingCliente">&times;</button>
        <!-- <button class="btn btn-danger " (click)="closeModal()">&times;</button> -->
      </form>
    </div>
  </div>
  <div class="modal" *ngIf="currentClienteId !== 0">
    <div class="modal-content">
      <!-- <span class="close" (click)="closeModal()">&times;</span> -->
      <h2>Adicionar Cobrança</h2>
      <form (ngSubmit)="addCobranca()">        
        <div>
          <label for="valor" class="form-label">Valor:</label>
          <input class="form-control" id="valor" type="number" [(ngModel)]="newCobranca.valor" name="valor" required>
        </div>
        <div>
          <label for="dataVencimento" class="form-label">Data Vencimento:</label>
          <input class="form-control" id="dataVencimento" type="date" [(ngModel)]="newCobranca.dataVencimento" name="dataVencimento" required>
        </div>
        <div>
          <label for="descricao" class="form-label">Descrição:</label>
          <input class="form-control" id="descricao" [(ngModel)]="newCobranca.descricao" name="descricao">
        </div>
        <button class="btn btn-success" type="submit"><i class="bi bi-check"></i></button>
        <button class="btn btn-danger " (click)="closeModal()">&times;</button>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Pagos</th>
        <th scope="col">Abertos</th>          
        <th scope="col">Atrasados</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of viewModel">
        <td>{{ line.id }} </td>
        <td>{{ line.nome }}</td>
        <td class="green">{{ line.pagos }}</td>
        <td class="blue">{{ line.abertos }}</td>
        <td class="red">{{ line.atrasados }}</td>
        <td>          
          <button class="btn btn-dark" (click)="goToCobrancas(line.id)">Cobrancas</button>
          <button class="btn btn-dark" (click)="openCobrancaModal(line.id)">Criar Nova Cobranca</button>
          <button class="btn btn-danger bi bi-trash3-fill" (click)="deleteCliente(line.id)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>